
<header>
<section class="logo" id="logo">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <img class="img-responsive" src="images/biglogo.png" alt="">

      <div class="intro-text">
        <span class="name">Space Program</span>
        <h3>Skyrocket your knowledge!</h3>
        <hr class="star-logo">
        <!-- <span class="skills">Play - Learn - Evaluate</span> -->
      </div>
        <a ng-href="#/player" class="btn btn-lg btn-info"><i class="fa fa-play fa-lg" aria-hidden="true"></i> Join Mission</a>
    </div>
  </div>
</div>
</section>
</header>



<!-- Portfolio Grid Section -->
<section class="grey" id="about">
<div class="container">
</br>
  <div class="col-lg-12 text-center">
    <h2>Gamified Learning</h2>
    <hr class="star-primary">
  </div>


  <div class="row">
    <div class="col-xs-4">
      <center>
        <img src="images/astronaut/Astronaut-desk.svg" class="img-responsive" alt="">
        <h3>Play</h3>
      </center>
    </div>

    <div class="col-xs-4">
      <center>
        <img src="images/astronaut/Astronaut-book.svg" class="img-responsive" alt="">
        <h3>Learn</h3>
      </center>
    </div>

    <div class="col-xs-4">
      <center>
        <img src="images/astronaut/Astronaut-flag.svg" class="img-responsive" alt="">
        <h3>Evaluate</h3>
      </center>
    </div>
  </div>

</div>
</section>

<!-- About Section -->
<section class="teal" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Space Program is a free game-based learning platform that makes it fun to learn – any subject, in any language, on any device, for all ages! Space Program has been created for an Education Master's Project. </p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a student looking to improve your knowledge, a teacher looking to attract your students, or anyone looking to learn, this app is perfect to reach your milestones!</p>
      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="#portfolio" class="btn btn-lg btn-outline">
          <i class="fa fa-gamepad"></i> Play Game
        </a>
      </div> -->
    </div>
  </div>
</section>


<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Location</h3>
          <p>Jaume Mayor
            <br>Faculty of Education
            <br>University of Alicante
            <br>Alicante, SPAIN</p>
          </div>
          <div class="footer-col col-md-4">
            <h3>Around the Web</h3>
            <ul class="list-inline">
              <li>
                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
              </li>
              <li>
                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
              </li>
              <li>
                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
              </li>
            </ul>
          </div>
          <div class="footer-col col-md-4">
            <h3>About Space Program</h3>
            <p>Space Program is a free to use game-based learning platform created by <a href="http://jaumemayor.com">Jaume Mayor</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-below">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            Copyright &copy; Space Program 2017
          </div>
        </div>
      </div>
    </div>
  </footer>
